<div class="input_field">
	<%= label_tag "Ciao" %>
	<%= text_field_tag :aa %>
</div>

<div class="input_field">
	<%= label_tag "Marmellata" %>
	<%= text_field_tag :aa %>
</div>

<div class="input_field">
	<%= label_tag "Miele" %>
	<%= text_field_tag :aa %>
</div>

<div class="input_field">
	<%= label_tag "Nutella" %>
	<%= text_field_tag :aa %>
</div>

<div class="input_field">
	<%= label_tag "" %>
	<%= text_field_tag :aa %>
</div>